/* .mainTitle {
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 2.5s, 5s, 1s;
  animation-iteration-count: 2, 1, 5;

} */

.firstSlideIn {
  animation-duration: 2s, 3s ;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  70% {

    margin-left: -25%;
    width: 90%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  
}