/* .vSidebar {
    text-align: left;
    align-content: left ;
    color: rgb(0, 255, 102);
    background-color: rgb(227, 100, 246);
   
} */
/* .ui.menu {
    background-color: rgb(59, 203, 48);
} */

/* Whole Accordian */
.ui.styled.accordion {

    text-align: left;
    align-content: left ;
    background-color: inherit;
}
.ui.styled.accordion .active {

    background-color: paleturquoise;
}
/* Skill and Subskill -- hover */
.ui.styled.accordion .title:hover, .ui.styled.accordion .accordion .title:hover {
    background-color: rgb(130, 209, 243);
    color: black
}


.ui.accordion .accordion, .accordion, .ui.accordion, .ui.styled.accordion,
.ui.accordion .accordion .content, .ui.accordion .accordion .title{
    margin: 0;
    padding: 0;
}


/* Accordion Subskills Active */
.ui.styled.accordion .accordion .title, .ui.styled.accordion .title{
    background-color: #3e556c;
    color: rgb(255, 255, 255);
}

/* Selected Whole Skill Area */
.ui.styled.accordion, .ui.styled.accordion .accordion {
    box-shadow: 0;
    
}

/* Skills(inactive) */
.ui.accordion .title:not(.ui) {
    background-color: #0d3762;
    color: rgb(255, 255, 255);
    /* border-radius: .8em; */
    /* border: .2em; */
}
.ui.styled.accordion .title .active {
    background-color: red;
}

.ui.styled.accordion .content {
    margin:  0em;
    padding: 0;
    background-color: green
}



.ui.styled.accordion .accordion {
    border-radius: .28571429rem;
    background: #fff;
    box-shadow: 0 ;
  }

  /* Selected title */
  .ui.styled.accordion .active.title {
    background-color: #1c5792;
    color: white
  }


.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
    margin:  .25em;
    padding: 0;
    background-color: green
}

.title .active {
    padding-bottom: 0;
}


/* .ui.accordion {
    color: violet;
    background-color: rgb(255, 0, 0);
} */
/* Entire Accordion */
/* .ui.styled.accordion .accordion {
    background-color: gray;
} */



/* SubSkills  */
/* .ui.accordion .accordion .title, .ui.accordion .title {
    color: pink
} */
