:root  {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;

} 

.fullScreenHeight {
  min-height: 90dvh;
  
}
.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}
