:root, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(69, 69, 69);
  min-height: 100dvh;
} 

.fullScreenHeight {
  min-height: 90dvh;
  
}
.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}
